.button,
.button:focus {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: none !important;
  width: 144px;
  height: 24px;
  min-width: 0 !important;
  min-height: 0 !important;
  padding: 5px !important;
  outline: none;
}

.button span {
  margin-left: 4px;
}
