html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  cursor: url("/cur/def.png"), default;
  background-color: #969acf;
  position: relative;
  font-family: "Pixelated MS Sans Serif" !important;
}

/* A botch to make 98.css work for this */
button {
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  cursor: url("/cur/point.png"), pointer;
}

.window-body {
  margin: 0px !important;
}
