.taskbar {
  width: 100%;
  background-color: silver;
  position: absolute;
  bottom: 0;
  height: 28px;
  display: flex;
  align-items: center;
  border-top: 1px solid #fff;
  box-shadow: 0 0 0 1px #dfdfdf;
  z-index: 6969;
}

.startButton {
  margin: 2px;
  font-weight: bold;
  font-size: x-small;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

.startButton:active {
  padding: 5px !important;
}

.startButton .icon {
  height: 16px;
  padding: 0;
  padding-right: 4px;
}

.bold {
  font-weight: bold;
}

.divider {
  width: 0;
  height: 24px;
  border-left: 1px solid grey;
  border-right: 1px solid #dfdfdf;
}

.dragHandle {
  width: 1px;
  height: 16px;
  margin-left: 2px;
  margin-right: 4px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.pinned {
  height: 24px;
  width: 77px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.pinned .icon {
  height: 16px;
  margin: 3px;
}

.clickable {
  cursor: url("/cur/point.png") 4 0, pointer;
  display: flex;
}

.openPrograms {
  height: 24px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.clockSection {
  height: 22px;
  width: 72px;
  border-top: 1px solid grey;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid grey;
  padding: 0;
  margin: auto 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clockSection p {
  margin: 0;
  font-size: 10px;
}
