.open {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 1000px;
  height: 700px;
  min-width: 500px;
  min-height: 500px;
  resize: both;
  overflow: auto;
}

.maximised {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100vw;
  height: calc(100vh - 26px);
  min-width: 500px;
  min-height: 500px;
  resize: both;
  overflow: auto;
}

.minimised {
  display: none;
}

/* Since we're assigning a class depending on the state, we need to style this as well */
.minimised-max {
  display: none;
}
